<div id="invoice-modal-window">
    <div class="modal fade" id="new_invoice" data-bs-backdrop="static" tabindex="-1" aria-labelledby="Crear nueva factura" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Miguel_bernal_150823</h1>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <!-- formulario registro de mensajería/información extra -->
                            <div class="col-4">
                                <!-- registrar mensajería -->
                                <div class="">
                                    <h4 class="mb-3 text-success">Registrar mensajería</h4>

                                    <form>
                                        <div class="row mb-3">
                                            <div class="col">
                                                <label for="" class="form-label">Fecha:</label>
                                                <input type="text" class="form-control text-center" placeholder="15/09/23" aria-label="fecha de la mensajería realizadad">
                                            </div>
    
                                            <div class="col">
                                                <label for="" class="form-label">Precio:</label>
                                                <input type="text" class="form-control text-center" placeholder="0.00" aria-label="precio de la mensajería realizadad">
                                            </div>
                                        </div>
    
                                        <!-- descripción de mensajería -->
                                        <div>
                                            <label for="" class="form-label">Descripción de la mensajería:</label>
                                            <textarea class="form-control" placeholder="Compra de insumos de oficina..." name="" id="" cols="5" rows="3"></textarea>
                                        </div>
    
                                        <!-- checkbox -->
                                        <div class="form-check mt-3">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">Se generaron gastos de trámite.</label>
                                        </div>
                                        
                                        <!-- monto de devolución -->
                                        <div class="row mt-3 visually-hidden">
                                            <div class="col-3 me-3 d-flex align-items-center">
                                                <label for="" class="form-label">Devolución:</label>
                                            </div>

                                            <div class="col-3">
                                                <input type="text" class="form-control text-center" placeholder="0.00">
                                            </div>
                                        </div>
    
                                        <div class="text-end">
                                            <button type="submit" class="btn btn-info mt-2">Registrar</button>
                                        </div>
                                    </form>
                                    <hr></hr>
                                </div>
                            </div>

                            <!-- Vista previa de factura -->
                            <div class="col-8">
                                <h4 class="mb-3">Resumen de facturación</h4>
                                <!-- información del cliente -->
                                <div class="container">
                                    <div class="row align-items-center">
                                        <div class="col-7 ps-0">
                                            <p class="mb-1">
                                                <span class="fw-bolder">Nombre de cliente:</span>
                                                <span class="ms-1">MARLIN LOGISTIC CORP S.A.</span>
                                            </p>
                                            <p>
                                                <span class="fw-bolder">Fecha facturación:</span>
                                                <span class="ms-2">Lunes 15 agosto del 2023</span>
                                            </p>
                                        </div>

                                        <div class="col-5">
                                            <p class="mb-1">
                                                <span class="fw-bolder">Número de factura:</span>
                                                <span class="ms-1">150823</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <!-- tabla de mensjerías registradas -->
                                <div class="container" id="messaging-record-table">
                                    <!-- cabecera tabla -->
                                    <div class="row text-center text-primary p-1" id="table-header">
                                        <div class="col-2 fw-bolder fs-5">Fecha</div>
                                        <div class="col-8 fw-bolder fs-5">Descripción</div>
                                        <div class="col-1 fw-bolder fs-5 p-0">Precio</div>
                                        <div class="col-1"></div>
                                    </div>

                                    <!-- cuerpo tabla -->
                                    <div class="row">
                                        <div  class="fs-6  overflow-auto" id="table-body">
                                        <!-- las mensajerias se estan cargando con javascript -->
                                        </div>
                                    </div>

                                    <!-- pie tabla -->
                                    <div class="row mt-2 p-1 fw-bolder fs-5 prueba" id="table-footer">
                                        <div class="col-9 text-end">TOTAL</div>
                                        <div class="col-3 text-center">300.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-green">Guardar factura</button>
                    <button type="button" class="btn btn-success">Emitir factura</button>
                </div>
            </div>
        </div>
    </div>
</div>
