<div id="invoice-modal-window">
    <div class="modal fade" id="new_invoice" data-bs-backdrop="static" tabindex="-1" aria-labelledby="Crear nueva factura" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Miguel_bernal_150823</h1>
                </div>

                <div class="modal-body">
                    <!-- información del cliente -->
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-7 ps-0">
                                <p class="mb-1">
                                    <span class="fw-bolder">Nombre de cliente:</span>
                                    <span class="ms-1">MARLIN LOGISTIC CORP S.A.</span>
                                </p>
                                <p>
                                    <span class="fw-bolder">Fecha facturación:</span>
                                    <span class="ms-2">Lunes 15 agosto del 2023</span>
                                </p>
                            </div>

                            <div class="col-5">
                                <p class="mb-1">
                                    <span class="fw-bolder">Número de factura:</span>
                                    <span class="ms-1">150823</span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- tabla mensajerias -->
                    <div class="container" id="messaging-record-table">
                        <!-- cabecera tabla -->
                        <div class="row text-center text-primary p-1" id="table-header">
                            <div class="col-2 fw-bolder fs-5">Fecha</div>
                            <div class="col-8 fw-bolder fs-5">Descripción</div>
                            <div class="col-1 fw-bolder fs-5 p-0">Precio</div>
                            <div class="col-1"></div>
                        </div>

                        <!-- cuerpo tabla -->
                        <div class="row">
                            <div  class="fs-6  overflow-auto" id="table-body">
                            <!-- las mensajerias se estan cargando con javascript -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-green">Guardar factura</button>
                    <button type="button" class="btn btn-success">Emitir factura</button>
                </div>
            </div>
        </div>
    </div>
</div>
