<div id="clients_view_container">
    <div class="row">
        <!-- formulario de registro cliente -->
        <div class="col-12 col-md-12 col-lg-7 col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">REGISTRO CLIENTE</h5>

                    <form action="">
                        <div class="row">
                            <!-- columna izquierdad -->
                            <div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-6">
                                <div class="mb-3">
                                    <label for="client_name" class="form-label">Nombre/Razón social:</label>
                                    <input type="text" class="form-control" id="client_name" placeholder="Messenger service and.co">
                                </div>

                                <div class="mb-3">
                                    <label for="client_phone" class="form-label">Telefono:</label>
                                    <input type="text" class="form-control" id="client_phone" placeholder="xxxx - xxxx">
                                </div>

                                <div class="mb-3">
                                    <label for="client_address" class="form-label">Dirección:</label>
                                    <input type="text" class="form-control" id="client_address" placeholder="calle # principal local...">
                                </div>
                            </div>

                            <!-- columna derecha -->
                            <div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-6">
                                <div class="mb-3">
                                    <label for="client_ruc" class="form-label">Ruc:</label>
                                    <input type="text" class="form-control" id="client_ruc" placeholder="XXXXXXX-X-XXX-X DVXX">
                                </div>

                                <div class="mb-3">
                                    <label for="client_email" class="form-label">Correo electronico:</label>
                                    <input type="text" class="form-control" id="client_email" placeholder="CorreoElectronico@gmail.com">
                                </div>

                                <div class="mb-3">
                                    <label for="client_photo_profile" class="form-label">Foto de perifl:</label>
                                    <input class="form-control" type="file" id="client_photo_profile">
                                </div>
                            </div>

                            <div class="col-12 text-center mt-3">
                                <button type="submit" class="btn btn-info">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- tarjeta cliente {property}{sides}-{breakpoint}-{size} -->
        <div class="col-12 col-md-12 col-lg-5 col-xl-4 mt-lg-0 mt-3">
            <div class="card client_card">
                <div class="card-body d-flex flex-column align-items-center flex-sm-row justify-content-sm-evenly flex-lg-column">
                    <div class="mb-2 profile_picture_container">
                        <i class="bi bi-person-circle profile_picture_icon"></i>
                    </div>

                    <div>
                        <h5 class="mb-2 text-info">MessengerServiceAnd.co</h5>
                        <p class="mb-2 fs-6">MessengerService@gmail.com</p>
                        <p class="mb-2 fs-6">222313-2-32345 DV60</p>
                        <p class="mb-2 fs-6">6180 - 2770</p>
                        <p class="mb-2 fs-6">calle # aven. principal 2342</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- tabla de clientes -->
    <div class="row mt-3">
        <div class="col-12">
            <div class="card table_card_clients">
                <div class="card-body">
                    <div class="title_container_and_filtered_search">
                        <h5 class="card-title text-success mb-3 client_table_title">TABLA DE CLIENTES</h5>

                        <!-- filtrar busquedad -->
                        <div class="input-group mb-3 client_table_filtered_lookup">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Buscar por nombre">
                            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar busquedad </button>

                            <!-- lista de filtrado -->
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="dropdown-item px-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="filter_by_name" checked>
                                        <label class="form-check-label w-100" for="filter_by_name">Por nombre</label>
                                    </div>
                                </div>
                                
                                <div class="dropdown-item px-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="filter_by_email">
                                        <label class="form-check-label w-100" for="filter_by_email">Por correo</label>
                                    </div>
                                </div>

                                <div class="dropdown-item px-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="filter_by_phone">
                                        <label class="form-check-label w-100" for="filter_by_phone">Por telefono</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- tabla clientes --> 
                    <div class="table-responsive-md mb-3 mb-md-0">
                        <table class="table text-center mt-3">
                            <thead>
                                <tr class="text-primary">
                                    <th>ID</th>
                                    <th>Foto</th>
                                    <th>Nombre</th>
                                    <th>Correo electronico</th>
                                    <th>Telefono</th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="align-middle">
                                    <td>1</td>
                                    <td>
                                        <div  class="m-auto">
                                            <img class="client_profile_photo"src="../helpers/FotoPerfilDePrueba.webp" alt="">
                                        </div> 
                                    </td>
                                    <td>Miguel bernal rosas</td>
                                    <td>miguelrosas@gmail.com</td>
                                    <td>66223454</td>
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-search"></i> Ver a detalle</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> Editar cliente</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar cliente</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="align-middle">
                                    <td>1</td>
                                    <td>
                                        <div  class="m-auto">
                                            <img class="client_profile_photo"src="../helpers/FotoPerfilDePrueba.webp" alt="">
                                        </div> 
                                    </td>
                                    <td>Miguel bernal rosas</td>
                                    <td>miguelrosas@gmail.com</td>
                                    <td>66223454</td>
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-search"></i> Ver a detalle</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> Editar cliente</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar cliente</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="align-middle">
                                    <td>1</td>
                                    <td>
                                        <div  class="m-auto">
                                            <img class="client_profile_photo"src="../helpers/FotoPerfilDePrueba.webp" alt="">
                                        </div> 
                                    </td>
                                    <td>Miguel bernal rosas</td>
                                    <td>miguelrosas@gmail.com</td>
                                    <td>66223454</td>
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-search"></i> Ver a detalle</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> Editar cliente</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar cliente</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                                <tr class="align-middle">
                                    <td>1</td>
                                    <td>
                                        <div  class="m-auto">
                                            <img class="client_profile_photo"src="../helpers/FotoPerfilDePrueba.webp" alt="">
                                        </div> 
                                    </td>
                                    <td>Miguel bernal rosas</td>
                                    <td>miguelrosas@gmail.com</td>
                                    <td>66223454</td>
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-search"></i> Ver a detalle</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> Editar cliente</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar cliente</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>  

                                <tr class="align-middle">
                                    <td>1</td>
                                    <td>
                                        <div  class="m-auto">
                                            <img class="client_profile_photo"src="../helpers/FotoPerfilDePrueba.webp" alt="">
                                        </div> 
                                    </td>
                                    <td>Miguel bernal rosas</td>
                                    <td>miguelrosas@gmail.com</td>
                                    <td>66223454</td>
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-search"></i> Ver a detalle</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-journal-text"></i> Editar cliente</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar cliente</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div> 

                    <!-- paginación -->
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="Paginación de la tabla clientes">
                                <ul class="pagination justify-content-center">
                                    <!-- boton previo -->
                                    <li class="page-item">
                                        <a class="page-link disabled" href="#" aria-label="Mostrar contenido anterior">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                    </li>

                                    <!-- paginas -->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>

                                    <!-- boton siguiente -->
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Mostrar contenido siguiente">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>