<div id="view_container_configuration">
    <div class="row">
        <!-- formulario crear/editar registro -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">CREAR NUEVO REGISTRO</h5>

                    <form action="">
                        <!-- Nombre de registro -->
                        <div class="mb-3">
                            <label for="" class="form-label">Nombre de registro :</label>
                            <input type="text" class="form-control" id="" placeholder="I QUINCENA DE ENERO 2204">
                        </div>

                        <div class="row">
                            <!-- Fondo de operaciónes -->
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="col-6 col-form-label" data-bs-toggle="tooltip" data-bs-title="Fondo de operaciones, en cargado de cubrir los gatos relacionados al desempeño del trabajo del día a día, gasolína,datos ect..">Fondo OP:</label>
                                    <div class="col-6 ps-0">
                                        <input type="email" class="form-control" placeholder="0.00" id="">
                                    </div>
                                </div>
                            </div>

                            <!-- Fondo de ahorro/emergencia -->
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="col-6 col-form-label ">Fondo AE:</label>
                                    <div class="col-6 ps-0">
                                        <input type="email" class="form-control" placeholder="0.00" id="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- botón crear registro -->
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-info" id="">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Resúmen de registro actual -->
        <div class="col-6 border">

        </div>
    </div>
</div>