<div id="view_container_configuration">
    <div class="row">
        <!-- formulario crear/editar registro -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">CREAR NUEVO REGISTRO</h5>

                    <form action="">
                        <!-- Nombre de registro -->
                        <div class="mb-3">
                            <label for="" class="form-label">Nombre de registro :</label>
                            <input type="text" class="form-control" id="" placeholder="I QUINCENA DE ENERO 2204">
                        </div>

                        <div class="row">
                            <!-- Fondo de operaciónes -->
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="col-6 col-form-label" data-bs-toggle="tooltip"  data-bs-placement="top" data-bs-title="Define un monto que va a ser utlizado como FONDO DE OPERACIONES.">Fondo OP:</label>
                                    <div class="col-6 ps-0">
                                        <input type="email" class="form-control" placeholder="0.00" id="">
                                    </div>
                                </div>
                            </div>

                            <!-- Fondo de ahorro/emergencia -->
                            <div class="col-6">
                                <div class="row">
                                    <label for="" class="col-6 col-form-label " data-bs-toggle="tooltip"  data-bs-placement="top" data-bs-title="FONDO DE AHORRO/EMERGENCIA. Encargado de registrar el estado actual del mismo.">Fondo AE:</label>
                                    <div class="col-6 ps-0">
                                        <input type="email" class="form-control" placeholder="0.00" id="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- botón crear registro -->
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-info" id="">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Resúmen de registro actual -->
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">RESUMEN PERIODO ACTUAL</h5>

                    <!-- Nombre de registro -->
                    <div class="row">
                        <div class="col-5 fw-bold"><p class="mb-2">Nombre de registro:</p></div>
                        <div class="col-7"><p class="mb-2">I QUINCENA DE AGOSTO 2024</p></div>
                    </div>

                    <!-- Facturas registradas -->
                    <div class="row">
                        <div class="col-5 fw-bold"><p class="mb-2">Facturas registras:</p></div>
                        <div class="col-7"><p class="mb-2">15 unid <span class="badge bg-info">(7 pagadas)</span></p></div>
                    </div>

                    <!-- Ingreso total / Gasto total -->
                    <div class="row">
                        <div class="col-6 ">
                            <div class="row">
                                <div class="col-7 fw-bold"><p class="mb-2">Ingreso total:</p></div>
                                <div class="col-5"><p class="mb-2">$699.25</p></div>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="row">
                                <div class="col-7 fw-bold"><p class="mb-2" data-bs-toggle="tooltip"  data-bs-placement="top" data-bs-title="Suma total de todos los gastos, sin importar la fuente que lo cubrió.">Gasto total:</p></div>
                                <div class="col-5"><p class="mb-2">$235.66</p></div>
                            </div>
                        </div>
                    </div>

                    <!-- Fondo operaciones / Fondo ahorro-emergencia -->
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-7 fw-bold"><p class="mb-2">Fondo O:</p></div>
                                <div class="col-5 "><p class="mb-2">$19.30</p></div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-7 fw-bold"><p class="mb-2">Fondo AE:</p></div>
                                <div class="col-5 "><p class="mb-2">$256.87</p></div>
                            </div>
                        </div>
                    </div>

                    <!-- Recordatorios / Crédito -->
                    <div class="row">
                        <div class="col-6 ">
                            <div class="row">
                                <div class="col-7 fw-bold  pe-0"><p class="mb-2">Recordatorios:</p></div>
                                <div class="col-5"><p class="mb-2">8 unid.</p></div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-7  fw-bold"><p class="mb-3">Crédito:</p></div>
                                <div class="col-5"><p class="mb-3">$12.63</p></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Tabla historial de registros -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <!-- Titulo/búsquedad filtradra -->
                    <div class="title-container-filtered-search">
                        <h5 class="card-title text-success mb-3 mt-2 element-title">TABLA DE REGISTROS</h5>

                        <!-- filtrar busquedad -->
                        <div class="input-group mb-3 filtered-search-element">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Buscar por XXXXXX">
                            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Filtrar busquedad</button>

                            <!-- lista de filtrado -->
                            <div class="dropdown-menu dropdown-menu-end">
                                <div class="dropdown-item px-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="" checked>
                                        <label class="form-check-label w-100" for="">Por nombre</label>
                                    </div>
                                </div>
                                
                                <div class="dropdown-item px-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                        <label class="form-check-label w-100" for="">Por año</label>
                                    </div>
                                </div>

                                <div class="dropdown-item px-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="">
                                        <label class="form-check-label w-100" for="">Mes</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- tabla registros --> 
                    <div class="table-responsive-xl mb-3 mb-md-0">
                        <table class="table text-center mt-3">
                            <thead>
                                <tr class="text-primary">
                                    <th>Nombre del registro</th>
                                    <th>Ingreso total</th>
                                    <th>Gasto total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr class="align-middle">
                                    <td>I QUINCENA DE MARZO 2024</td>
                                    <td>$678.34</td>
                                    <td>$67.00</td>
                                    <!-- botón de opciones -->
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Activar/Editar</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 
                                
                                <tr class="align-middle">
                                    <td>I QUINCENA DE MARZO 2024</td>
                                    <td>$678.34</td>
                                    <td>$67.00</td>
                                    <!-- botón de opciones -->
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Activar/Editar</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 

                                <tr class="align-middle">
                                    <td>I QUINCENA DE MARZO 2024</td>
                                    <td>$678.34</td>
                                    <td>$67.00</td>
                                    <!-- botón de opciones -->
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Activar/Editar</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 

                                <tr class="align-middle">
                                    <td>I QUINCENA DE MARZO 2024</td>
                                    <td>$678.34</td>
                                    <td>$67.00</td>
                                    <!-- botón de opciones -->
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Activar/Editar</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 

                                <tr class="align-middle">
                                    <td>I QUINCENA DE MARZO 2024</td>
                                    <td>$678.34</td>
                                    <td>$67.00</td>
                                    <!-- botón de opciones -->
                                    <td>                                
                                        <div class="dropdown">
                                            <button class="btn text-primary py-0 px-1 fs-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="bi bi-three-dots-vertical "></i>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-pencil-square"></i> Activar/Editar</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="bi bi-trash3-fill"></i> Eliminar</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>