<div id="component_view_home">
    <div class="row">
        <!-- tarjeta ingresos {property}{sides}-{breakpoint}-{size} -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title  d-flex flex-row justify-content-between">
                        <span >INGRESOS</span> 
                        <i class="bi bi-coin"></i> 
                    </h5>
                    <p class="mb-0"><strong>Periodo: </strong>15/05/2023 - 30/05/2023</span></p>
                    <p class="text-center h1">+370.75</p>
                </div>
            </article>
        </div>

        <!-- tarjeta gastos -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3 mt-sm-0 mt-lg-0">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title d-flex flex-row justify-content-between">
                        <span>GASTOS</span>
                        <i class="me-2 fs-5 bi bi-receipt"></i>
                    </h5>
                    <p class="mb-0"><strong>Periodo: </strong>15/05/2023 - 30/05/2023</span></p>
                    <p class="text-center h1">-30.75</p>
                </div>
            </article>
        </div>

        <!-- tarjetaa fondos -->
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 mt-3 mt-md-0 mt-lg-0">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title d-flex flex-row justify-content-between">
                        <span>FONDOS</span>
                        <i class="bi bi-piggy-bank"></i>
                    </h5>
                    <p class="mb-0"><strong>Periodo: </strong>15/05/2023 - 30/05/2023</span></p>
                    <p class="text-center h1">+430.75</p>
                </div>
            </article>
        </div>
    </div>

    <div class="row mt-3">
        <!-- registro historico - tabla grafica -->
        <div class="col-12 col-md-6 col-lg-8">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title  d-flex flex-row justify-content-between">
                        <span >REGISTRO HISTORICO</span>
                        <i class="bi bi-graph-up-arrow"></i>
                    </h5>
                    <!-- tabla grafica -->
                    <div style="height: 250px;"><h1>Tabla grafica</h1></div>
                </div>
            </article>
        </div>

        <!-- recordatorios -->
        <div class="col-12 col-md-6 col-lg-4 mt-3 mt-sm-3 mt-md-0">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title  d-flex flex-row justify-content-between mb-2">
                        <span >RECORDATORIOS</span>
                        <i class="bi bi-hourglass-bottom"></i>
                    </h5>

                    <div class="overflow-y-auto" style="height: 250px;">
                        <div class="card mb-2" style="background-color: white;">
                            <div class="card-header">Lunes 3 de enero 2024</div>
                            <div class="card-body ">
                                <div class="card-title h6">Pago de seguro vehicular</div>
                                <p class="card-text   lh-sm" style="font-size: 15px;"> 
                                    Realizar el pago del seguro vehicular, antes del 10 de enero.
                                </p>
                                <div style="font-size: 12px;"> 
                                    <i class="bi bi-bell"></i>
                                    Lunes 26 de diciembre 2023
                                </div>
                            </div>
                        </div>

                        <div class="card mb-2" style="background-color: white;">
                            <div class="card-header">Lunes 3 de enero 2024</div>
                            <div class="card-body ">
                                <div class="card-title h6">Pago de seguro vehicular</div>
                                <p class="card-text   lh-sm" style="font-size: 15px;"> 
                                    Realizar el pago del seguro vehicular, antes del 10 de enero.
                                </p>
                                <div style="font-size: 12px;"> 
                                    <i class="bi bi-bell"></i>
                                    Lunes 26 de diciembre 2023
                                </div>
                            </div>
                        </div>

                        <div class="card mb-2" style="background-color: white;">
                            <div class="card-header">Lunes 3 de enero 2024</div>
                            <div class="card-body ">
                                <div class="card-title h6">Pago de seguro vehicular</div>
                                <p class="card-text   lh-sm" style="font-size: 15px;"> 
                                    Realizar el pago del seguro vehicular, antes del 10 de enero.
                                </p>
                                <div style="font-size: 12px;"> 
                                    <i class="bi bi-bell"></i>
                                    Lunes 26 de diciembre 2023
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="row mt-3">
        <!-- Cuentas  -->
        <div class="col-12 col-sm-12 col-md-6 col-lg-7">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title  d-flex flex-row justify-content-between">
                        <span >CUENTAS</span> 
                        <i class="bi bi-coin"></i> 
                    </h5>

                    <table class="table table-borderless table-hover table-responsive table-sm">
                        <tbody>
                        <tr>
                            <td >Banitsmo</td>
                            <td >04-10-98-******-0</td>
                            <td class="text-end">$162.50</td>
                        </tr>
                        <tr>
                            <td>Banco general</td>
                            <td>04-10-98-******-0</td>
                            <td class="text-end">$50.00</td>
                        </tr>
                        <tr>
                            <td>Bac credomatic</td>
                            <td>04-10-98-******-0</td>
                            <td class="text-end">$50.00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>

        <!-- Ingreso colaborador -->
        <div class="col-12 col-sm-7 col-md-6 col-lg-5 mt-3 mt-md-0">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title  d-flex flex-row justify-content-between">
                        <span >INGRESOS COLABORADOR</span> 
                        <i class="bi bi-coin"></i> 
                    </h5>
                    <p class="mb-0"><strong>Periodo: </strong>15/05/2023 - 30/05/2023</span></p>
                    <p><strong>Comisión 30% :</strong> 55.23</p>
                    <p class="text-center h1">+370.75</p>
                </div>
            </article>
        </div>
    </div>
</div>