<div id="component_view_home">
    <div class="row">

        <!-- tarjeta ingresos -->
        <div class="col-4">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title  d-flex flex-row justify-content-between">
                        <span >INGRESOS</span> 
                        <i class="bi bi-coin"></i> 
                    </h5>
                    <p class="mb-0"><strong>Periodo: </strong>15/05/2023 - 30/05/2023</span></p>
                    <p class="text-center h1">+370.75</p>
                </div>
            </article>
        </div>

        <!-- tarjeta gastos -->
        <div class="col-4">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title d-flex flex-row justify-content-between">
                        <span>GASTOS</span>
                        <i class="me-2 fs-5 bi bi-receipt"></i>
                    </h5>
                    <p class="mb-0"><strong>Periodo: </strong>15/05/2023 - 30/05/2023</span></p>
                    <p class="text-center h1">-30.75</p>
                </div>
            </article>
        </div>

        <!-- tarjetaa fondos -->
        <div class="col-4">
            <article class="card" style="background-color: white;">
                <div class="card-body">
                    <h5 class="card-title d-flex flex-row justify-content-between">
                        <span>FONDOS</span>
                        <i class="bi bi-piggy-bank"></i>
                    </h5>
                    <p class="mb-0"><strong>Periodo: </strong>15/05/2023 - 30/05/2023</span></p>
                    <p class="text-center h1">+430.75</p>
                </div>
            </article>
        </div>
    </div>
</div>