<div id="income_record_view_container">
    <div class="row">
        <!-- Tabla resumen facturacion -->
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">RESUMEN DE FACTURACION</h5>

                    <table class="table text-center mt-3">
                        <thead>
                            <tr class="text-primary">
                                <th>Cliente</th>
                                <th>Monto</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        
                        <tbody> 
                            <tr>
                                <td>Miguel bernal</td>
                                <td>56.80</td>
                                <td> <!-- Estado de la factura --->
                                    <select class="form-select form-select-sm w-75 m-auto text-center" aria-label="Estado de la factura">
                                        <option selected>Registrada</option>
                                        <option value="1">Enviada</option>
                                        <option value="2">Pagada</option>
                                    </select>
                                </td> 
                            </tr>

                            <tr>
                                <td>Miguel bernal</td>
                                <td>56.80</td>
                                <td> <!-- Estado de la factura --->
                                    <select class="form-select form-select-sm w-75 m-auto text-center" aria-label="Estado de la factura">
                                        <option selected>Registrada</option>
                                        <option value="1">Enviada</option>
                                        <option value="2">Pagada</option>
                                    </select>
                                </td> 
                            </tr>

                            <tr>
                                <td>Miguel bernal</td>
                                <td>56.80</td>
                                <td> <!-- Estado de la factura --->
                                    <select class="form-select form-select-sm w-75 m-auto text-center" aria-label="Estado de la factura">
                                        <option selected>Registrada</option>
                                        <option value="1">Enviada</option>
                                        <option value="2">Pagada</option>
                                    </select>
                                </td> 
                            </tr>

                            <tr>
                                <td>Miguel bernal</td>
                                <td>56.80</td>
                                <td> <!-- Estado de la factura --->
                                    <select class="form-select form-select-sm w-75 m-auto text-center" aria-label="Estado de la factura">
                                        <option selected>Registrada</option>
                                        <option value="1">Enviada</option>
                                        <option value="2">Pagada</option>
                                    </select>
                                </td> 
                            </tr>

                            <tr>
                                <td>Miguel bernal</td>
                                <td>56.80</td>
                                <td> <!-- Estado de la factura --->
                                    <select class="form-select form-select-sm w-75 m-auto text-center" aria-label="Estado de la factura">
                                        <option selected>Registrada</option>
                                        <option value="1">Enviada</option>
                                        <option value="2">Pagada</option>
                                    </select>
                                </td> 
                            </tr>

                            <!-- Total y monto -->
                            <tr>
                                <td class="text-green h5">TOTAL</td>
                                <td class="text-start ps-lg-3 text-green h5" colspan="2">$284.00</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- paginación -->
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="Paginación de la tabla resumen de facturación">
                                <ul class="pagination justify-content-center">
                                    <!-- boton previo -->
                                    <li class="page-item">
                                        <a class="page-link disabled" href="#" aria-label="Mostrar contenido anterior">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                    </li>

                                    <!-- paginas -->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>

                                    <!-- boton siguiente -->
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Mostrar contenido siguiente">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Taabla devoluciones -->
        <div class="col-5 border"></div>
    </div>
</div>