<div id="income_record_view_container">
    <div class="row" id="container-billing-and-return-tables">
        <!-- Tabla resumen facturación -->
        <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-7 mb-4 mb-md-0 mb-lg-4 mb-xl-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">RESUMEN DE FACTURACIÓN</h5>

                    <div class="container-scroll overflow-x-auto mb-4">
                        <table class="table text-center mb-0">
                            <thead>
                                <tr class="text-primary">
                                    <th>Factura</th>
                                    <th>Cliente</th>
                                    <th>Monto</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            
                            <tbody>    
                                <tr>
                                    <td>150823</td>
                                    <td>Miguel bernal</td>
                                    <td>56.80</td>
                                    <td> <!-- Estado de la factura --->
                                        <select class="form-select form-select-sm  m-auto text-center" aria-label="Estado de la factura">
                                            <option selected>Registrada</option>
                                            <option value="1">Enviada</option>
                                            <option value="2">Pagada</option>
                                        </select>
                                    </td> 
                                </tr>
        
                                <tr>
                                    <td>150823</td>
                                    <td>Miguel bernal</td>
                                    <td>56.80</td>
                                    <td> <!-- Estado de la factura --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de la factura">
                                            <option selected>Registrada</option>
                                            <option value="1">Enviada</option>
                                            <option value="2">Pagada</option>
                                        </select>
                                    </td> 
                                </tr>

                                <tr>
                                    <td>150823</td>
                                    <td>Miguel bernal</td>
                                    <td>56.80</td>
                                    <td> <!-- Estado de la factura --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de la factura">
                                            <option selected>Registrada</option>
                                            <option value="1">Enviada</option>
                                            <option value="2">Pagada</option>
                                        </select>
                                    </td> 
                                </tr>

                                <tr>
                                    <td>150823</td>
                                    <td>Miguel bernal</td>
                                    <td>56.80</td>
                                    <td> <!-- Estado de la factura --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de la factura">
                                            <option selected>Registrada</option>
                                            <option value="1">Enviada</option>
                                            <option value="2">Pagada</option>
                                        </select>
                                    </td> 
                                </tr>

                                <tr>
                                    <td>150823</td>
                                    <td>Miguel bernal</td>
                                    <td>56.80</td>
                                    <td> <!-- Estado de la factura --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de la factura">
                                            <option selected>Registrada</option>
                                            <option value="1">Enviada</option>
                                            <option value="2">Pagada</option>
                                        </select>
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- paginación -->
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="Paginación de la tabla resumen de facturación">
                                <ul class="pagination justify-content-center">
                                    <!-- boton previo -->
                                    <li class="page-item">
                                        <a class="page-link disabled" href="#" aria-label="Mostrar contenido anterior">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                    </li>

                                    <!-- paginas -->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>

                                    <!-- boton siguiente -->
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Mostrar contenido siguiente">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla devoluciónes -->
        <div class="col-12 col-md-6 col-lg-12 col-xl-6 col-xxl-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">DEVOLUCIÓN DE DINERO</h5>
                    
                    <div class="overflow-x-auto mb-3">
                        <table class="table text-center mb-0" >
                            <thead>
                                <tr class="text-primary">
                                    <th>Cliente</th>
                                    <th>Monto</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            
                            <tbody> 
                                <tr>
                                    <td>Miguel bernal</td>
                                    <td>6.50</td>
                                    <td> <!-- Estado de pago --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de pago">
                                            <option selected>Pendiente</option>
                                            <option value="1">Pagado</option>
                                        </select>
                                    </td> 
                                </tr>
    
                                <tr>
                                    <td>Marlin logistic</td>
                                    <td>5.00</td>
                                    <td> <!-- Estado de pago --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de pago">
                                            <option selected>Pendiente</option>
                                            <option value="1">Pagado</option>
                                        </select>
                                    </td> 
                                </tr>
    
                                <tr>
                                    <td>Felipe rivera</td>
                                    <td>6.50</td>
                                    <td> <!-- Estado de pago --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de pago">
                                            <option selected>Pendiente</option>
                                            <option value="1">Pagado</option>
                                        </select>
                                    </td> 
                                </tr>
    
                                <tr>
                                    <td>Asap</td>
                                    <td>32.50</td>
                                    <td> <!-- Estado de pago --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de pago">
                                            <option selected>Pendiente</option>
                                            <option value="1">Pagado</option>
                                        </select>
                                    </td> 
                                </tr>
    
                                <tr>
                                    <td>Carmen</td>
                                    <td>1.50</td>
                                    <td> <!-- Estado de pago --->
                                        <select class="form-select form-select-sm m-auto text-center" aria-label="Estado de pago">
                                            <option selected>Pendiente</option>
                                            <option value="1">Pagado</option>
                                        </select>
                                    </td> 
                                </tr>
                            </tbody>
    
                            <tfoot>
                                <tr class="text-green">
                                    <th>TOTAL</th>
                                    <th >23.45</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <!-- paginación -->
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="Paginación de la tabla de devoluciones">
                                <ul class="pagination justify-content-center">
                                    <!-- boton previo -->
                                    <li class="page-item">
                                        <a class="page-link disabled" href="#" aria-label="Mostrar contenido anterior">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                    </li>

                                    <!-- paginas -->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>

                                    <!-- boton siguiente -->
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Mostrar contenido siguiente">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Crear factura -->
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">CREAR FACTURA</h5>

                    <form action="">
                        <div class="row">
                            <div class="col-8">
                                <!-- cliente -->
                                <div class="mb-3">
                                    <label for="create_invoice_customer_name" class="form-label">Cliente:</label>
                                    <input type="text" class="form-control" id="create_invoice_customer_name" placeholder="Messenger service and.co">
                                </div>
                            </div>

                            <!-- número factura -->
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="create_invoice_number" class="form-label">Número de factura:</label>
                                    <input type="text" class="form-control text-center" id="create_invoice_number" placeholder="150823">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="button" class="btn btn-info mb-3" data-bs-toggle="modal" data-bs-target="#invoice_template" id="button-create-invoice">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Tarjetas de facturas registradas -->
        <div class="col-12 container_registered_invoices">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success mb-3">FACTURAS REGISTRADAS</h5>

                    <div class="row">
                        <div class="col-3">
                            <div class="card registered_invoice" >
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card registered_invoice" >
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card registered_invoice" >
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card registered_invoice" >
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-4">
                        <div class="col-3">
                            <div class="card registered_invoice">
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card registered_invoice" >
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card registered_invoice" >
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="card registered_invoice" >
                                <img src="../helpers/Screenshot_factura.png" class="card-img-top" alt="Vista previa de la factura">
                                <div class="card-body text-center h6 m-0 p-4">
                                    <p class="card-text">Miguel bernal_150823</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- paginación -->
                    <div class="row mt-4">
                        <div class="col-12">
                            <nav aria-label="Paginación de la tabla de devoluciones">
                                <ul class="pagination justify-content-center">
                                    <!-- boton previo -->
                                    <li class="page-item">
                                        <a class="page-link disabled" href="#" aria-label="Mostrar contenido anterior">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                    </li>

                                    <!-- paginas -->
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>

                                    <!-- boton siguiente -->
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Mostrar contenido siguiente">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>