#clients_view_container {
    // tarjeta cliente
    .client_card {
        height    : 394px;
        text-align: center;

        .profile_picture_container {
            height: 180px;

            .profile_picture_icon {
                font-size  : 160px;
                color      : gray;
                line-height: 180px;
            }
        }

        @media (max-width: 991px) {
            height          : auto;
            text-align      : justify;
        }

        @media (max-width: 575px) {
            text-align      : center;
        }
    }

    // Tabla clientes 
    .table_card_clients {
        table {
            min-width: 630px;

            tbody {
                .client_profile_photo { // => foto de perfil cliente
                    border-radius: 8px;
                    width        : 40px;
                    height       : 40px;
                }
            }
        }
    }
}