#expense_record_container {
    // Tarjeta contenedora de las fuentes de dinero.
    #container-card-source-money {
        height: 428px;
    };

    // contenedor de la tabla historial de gastos
    #expense-history-table-scroll {
        height: 349px;

        table {
            min-width: 830px;
        }
    }
};