@import "_invoice_temple.scss"; // Ventana modal - factura.

#income_record_view_container {
    // contenedor de tabla resúmen de facturación y devolución de dinero.
    #container-billing-and-return-tables {
        table {
            min-width: 420px;

            select {
                width: 125px;
            }
        }
    }

    // Sección de facturas registradas
    .container_registered_invoices {
        // tarjeta de factura
        .registered_invoice {
            color : $custom_color_1;

            &:hover {
                background-color: $custom_color_8;
                color           : $custom_color_5;
                cursor          : pointer;
    
                .card-text {
                    color: $custom_color_5;
                }
            }
        }
    }
}