#new_invoice {
    #messaging-record-table {
        #table-header {
            background-color: $custom_color_4;
        }

        .tabla-fila-mensajeria {
            border: 1px solid gray;
            border-radius: 4px;
        }
    }
}