/*
    Variables de boostrap v5.3
    archivo: scss/_variables.scss

    $card-border-radius
    $card-border-width
    $card-border-color
    $card-box-shadow
    $card-bg
*/

#new_invoice {
    #messaging-record-table {
        #table-header {
            background-color: $custom_color_4;
            box-shadow      : $card-box-shadow;
            border-bottom   : $card-border-width solid #d23d1f;
        }

        #table-body {
            height  : 320px;

            // mensajerias
            .registered-messaging-table-item {
                border-radius   : $card-border-radius;
                border          : $card-border-width solid $card-border-color;
                background-color: $card-bg;
                cursor          : pointer;

                &:hover {
                    border-color: $custom_color_8;
                }
            }
        }
    }
}