nav.navbar {

    a.navbar-brand { color: $custom_color_5; }

    button.navbar-toggler { background-color: $custom_color_4; }

    ul.container-list-items {
        li a {
            color   : $custom_color_5;
            position: relative;

            // i -> punto efecto hover de los items
            i.icon-point{
                display        : flex;
                align-items    : center;
                justify-content: center;
                width          : 23px;
                height         : 30px;
                color          : #FF4C29;
                position       : absolute;
                z-index        : 0;
                opacity        : 0;
                transition     : all .3s linear;
            }

            // div -> contiene el icon y el nombre de la section de la barra de navegacion.
            div.container-item-nav {
                width     : 100%;
                transition: all .3s linear;
                z-index   : 1;
            }

            &:hover {
                i.icon-point {
                    opacity: 1;
                }

                .container-item-nav {
                    margin-left: 23px
                }
            }
        }

        // li -> contenedor de item temas legales junto con su lista.
        li#content-item-legal-issues {
            ul {
                list-style: none;

                li a {
                    color          : white;
                    text-decoration: none;
                }
            }
        }

        // span -> contenedor de los items cuenta y configuración.
        div#content-count-settings {
            display : block;
            width   : 236px;
            position: absolute;
            bottom  : 24px;

            @media (max-width: 991px) {
                width   : 100%;
                position: relative;
                bottom  : 0;
            }
        }
    }
}