.col-content-section {
    #sectionMain {
        background-color: $custom_color_5;
        border-radius   : 8px;
        width           : 100%;
        box-shadow      : 0.167rem 0.167rem 0.278rem $custom_color_6;
    }
}