// Paleta de colores.
// Fuente paleta de colores: https://colorhunt.co/palette/0820322c394b334756ff4c29
$custom_color_1  : #082032;
$custom_color_2  : #2C394B;
$custom_color_4  : #FF4C29;
$custom_color_5  : white;
$custom_color_6  : #041521; // box-shadow