@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// variables propias del proyecto.
@import "_variables.scss";

$theme-colors: (
  // colores propios del proyecto
  "primary"   : $custom_color_1,
  "secondary" : $custom_color_2,
  "success"   : $custom_color_4,
  "light"     : $custom_color_5,
  "strongBlue": $custom_color_6, 
  "info"      : $custom_color_8,
  "warning"   : $warning,
  "danger"    : $custom_color_7,
  "green"     : $custom_color_9
);

// estilo de tipografia y fuente
$font-family-base    : 'Roboto', sans-serif;
$font-size-base      : 1.125rem; // 18px
$font-weight-base    : $font-weight-normal;//  variable de boostrap 
$headings-font-weight: 900; // variable de boostrap (h1,h2,h3 ect..)

// color de fondo body
$body-bg         : $custom_color_1;

// sombras
$box-shadow-sm   : 0.167rem 0.167rem 0.278rem $custom_color_6;
$box-shadow-lg   : 0 1rem 3rem $custom_color_6;
$box-shadow-inset: inset 0 1px 2px $custom_color_6;

// campos formularios
$input-bg      : $custom_color_5;
$input-focus-bg: $custom_color_5;

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/utilities";

// Generando una nueva clase "fw-customClass"
$custom-font-weight: 900;

$utilities: map-merge(
  $utilities,
  (
    "font-weight": map-merge(
      map-get($utilities,"font-weight"),
      (
        values: map-merge(map-get(map-get($utilities,"font-weight"),"values"),
        (customClass: $custom-font-weight))
      )
    )
  )
);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Cambio color h1
.custom-h1 {
  font-size: 40px;
  color    : white;
}

// apariencia de los botones en estado activo
.btn:hover {
  opacity: 0.9;
  color:white
}

.btn,
.btn-check:checked + .btn, 
:not(.btn-check) + .btn:active, 
.btn:first-child:active,
.btn.active, 
.btn.show {
  color:white;
  // transition: all 0.2s ease;
}

.btn:active{
  transform: scale(0.97);
}