@import "_variables.scss";
@import "_navBarLeft.scss"; // barra de navegacion izquierdad
@import "_SectionRight.scss"; // Seccion de la derecha.

// contenedor principal
.CP-container-main {
    width: 100%;

    // navbar left
    div.col-navbar-left {
        width: 260px;

        @media (max-width: 991px) {
            width: 100%;
        }
    }

    // section right
    div.sectionMain {
        width: calc(100% - 260px);

        @media (max-width: 991px) {
            width: 100%;
        }
    }
}
