@import "_custom_boostrap.scss"; // boostrap v5.3

@import "_variables.scss"; // variables porpias del proyecto
@import "_navBarLeft.scss";// barra de navegacion izquierdad.
@import "_SectionRight.scss";// Seccion de la derecha.
@import "_clients_view.scss"; // vista clientes
@import "_income_record.scss"; // Vista registro de ingresos.
@import "_expense_record.scss"; //Vista registro de gastos.
@import "_my_account.scss"; // Vista mi cuenta.

// contenedor principal
.CP-container-main {
    width: 100%;

    // navbar left
    div.col-navbar-left {
        width: 260px;
        height: 100vh;

        @media (max-width: 991px) {
            width: 100%;
            height: auto;
        }
    }

    // section right
    div.col-content-section {
        width  : calc(100% - 260px);
        padding: 30px;

        @media (max-width: 991px) {
            width      : 100%;
            padding-top: 100px;
        }

        @media (max-width: 768px) {
            padding-left : 15px;
            padding-right: 15px;
        }
    }
}
