@import "_custom_boostrap.scss"; // Personalizando boostrap

body {
    font-family: 'Cabin', sans-serif;
    font-family: 'DM Serif Display', serif;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
}