// Section perzonalizadad

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";


$custom_color_one: #FF4C29;

$custom-colors: (
    "custom-color-1": $custom_color_one
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );


@import "../../node_modules/bootstrap/scss/bootstrap";
